:root {
    /* colores*/
    --bitcoin-orange: #F7931A; /*variable*/
    --soft-orange: #FFe9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}

* { /* selector univesal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "dm sans", sans-serif;

}

header a {
  text-decoration: none;
  color: var(--just-white);
  width: 20px;
  font-size: 35px;
  
}



header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 200px;
    text-align: center;
    background: url(/pic/fundicion.PNG); /*linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    color: var(--off-white);
    font-size: large;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}



main {
    width: 100%;
    height: auto;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
   /* background-color: var(--off-white);*/

}

.main-exchange-container--title {
    width: 100%;
    height: 100px;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    /*background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    Background-color: transparent; 
    background: url(/pic/rayas.PNG);
    color: var(--off-white);
   /* font-size: large; */
    text-shadow: 0.1em 0.1em 0.2em black;
    animation-duration: 10s;
    animation-name: slidein;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/* animacion de la cinta */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/* estilo de la tabla */

.main-tables-container {
    margin-top: 20px; 
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: center;
 /*   overflow-x: scroll; /* asi se hace el srcoll vertical para el horizontal seria (overflow-y: scroll)*/
    overscroll-behavior-x: contain;
   /* scroll-snap-type: x proximity;*/
    background: transparent; /*linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);*/
}




.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container label {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 1.9rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: transparent; /*var(--warm-black); */
}

.currency-table--container input {
    width: 80px;
    font-size: 1.6rem;
    font-weight: 1.9rem;
    line-height: 1.9rem;
    color: var(--black);
    background-color: var(--just-white);
}

.currency-table--container select option {
    width: 50px;
    font-size: 1.6rem;
    font-weight: 1.9rem;
    line-height: 1.9rem;
    color: var(--black);
    background-color: var(--just-white);
}

/* estilo del boton*/

.boton {
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content:center; 
    width: 80px; 
    border-radius: 5px;
    color: var(--off-white);
    font-size: large;
    text-shadow: 0.1em 0.1em 0.2em black;
    background: linear-gradient(207.8deg, #b4b1af 16.69%, #a19f9c 100%);
  }

  /* estilo de la respuesta */

  .respuesta {
    width: auto;
    font-size: 1.6rem;
    font-weight: 1.9rem;
    line-height: 1.9rem;
    color: var(--black);
    background-color: var(--just-white);
  }

  /* estilo de mfotos de adorno abajo*/
  .fotoMetales {
    width: 100%;
    height: 100px;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    /*background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    Background-color: transparent; 
    background: url(/pic/rayas.PNG);
    color: var(--off-white);
   /* font-size: large; */
    text-shadow: 0.1em 0.1em 0.2em black;
    animation-duration: 10s;
    animation-name: slidein;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .fotoMetales img {
    width: 100px;
    height: 100px;
    
  }

  /* estilo de footer */

footer {
    display: flex;
    min-width: 320px; 
    width: 100%;
    height: 150px;
    background: linear-gradient(207.8deg, #F7931A 60%, #201E1C 100%);
}

footer section {
    display: flex;
    width: 50%;
  /*  min-width: 320px;  */
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    color: var(--just-white);
    text-shadow: 0.15em 0.25em 0.5em black;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

/* tamaño de las fotos de los aceros */ 



.serpiente{
    width: 100px;
    height: 100px;
   
  }
