:root {
    /* colores*/
    --bitcoin-orange: #F7931A; /*variable*/
    --soft-orange: #FFe9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}

* { /* selector univesal*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "dm sans", sans-serif;

}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 300px;
    text-align: center;
    background: url(/pic/fundicion.PNG); /*linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    color: var(--off-white);
    font-size: large;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /* la dimension mas chica de los celulares 320px*/
    height: 300px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); /*linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    color: var(--off-white);
    font-size: large;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}

table {
    margin: 0 auto;
}



/* ------------ footer */ 
/*
footer {
    display: flex;
    min-width: 320px; 
    width: 100%;
    height: 150px;
    background: linear-gradient(207.8deg, #F7931A 60%, #201E1C 100%);
}

footer section {
    display: flex;
    width: 50%;
  /*  min-width: 320px;  */
  /*  justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    color: var(--just-white);
    text-shadow: 0.15em 0.25em 0.5em black;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
} */